<h1>Event Notifier</h1>

<%= button_to 'Create Event A', create_event_a_path, method: :post, class: 'btn btn-primary' %>
<%= button_to 'Create Event B', create_event_b_path, method: :post, class: 'btn btn-primary' %>

<p><%= notice %></p>
